@charset "UTF-8";
html{
    font-size: 7px;
    line-height: 1.3;
    background-color: black;
}
body{
    font-size: 0;
}
@font-face {
    font-family: "body-text";
    src: url(../fonts/lower-pixel/LowresPixel-Regular.otf), format(".otf");
}
.first-image{
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}
.second-image{
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}
#carousel1{
    font-size: 0;
    width: 75%;
    height: auto;
    aspect-ratio: 2 / 1;
    margin-left: 12%;
    margin-right: auto;
    margin-top: 15%;
    display: inline;
}
/* #carousel1>img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: inline-block;
} */
.buttons-container{
    width: 60%;
    height: auto;
    font-size: 3rem;
    font-family: "body-text";
    position: relative;
    color: orangered;
    top: 29%;
    margin-left: 35%;
}
#textbox{
    width: 72%;
    height: auto;
    padding: 2%;
    border-radius: 5%;
    position: relative;
    /* top: 27%; */
    margin-left: 12%;
    background-color: rgb(15, 23, 35, .80);
    color: white;
    font-size: 3rem;
    font-family: "body-text";
}

.buttons{
    display: inline-block;
    background-color: rgb(15, 23, 35);
    padding:2%;
}
.buttons:hover{
    background-color: rgb(220, 115, 60);
    color: rgb(15, 23, 35);
}
span{
    cursor: pointer;
    user-select: none;
}
#achievement{
    width: 45%;
    height: auto;
    background-color: white;
    font-family: "body-text";
    position:absolute;
    left: 25%;
    top: 40%;
}
.header{
    width: 100%;
    height: auto;
    background-color: rgb(220, 115, 60);
    color: white;
    font-size: 4rem;
}
.a-text{
    color: rgb(15, 23, 35);
    font-size: 3rem;
}



